* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    margin: 0;
}

body {
    background: linear-gradient(0deg, #141E30, #bdd6f3);
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    margin: auto;
    text-align: center;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1,
h3 {
    color: rgb(13, 60, 104);
    font-family: Raleway;
    margin: 10px;
}

iframe {
    margin: 20px
}

.button {
    background-color: rgb(255, 255, 255);
    border: black;
    color: black;
    padding: 15px 32px;
    text-decoration: none;
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    margin: 4px 10px;
    cursor: pointer;
    margin: 4px auto;
    border-radius: 3px;
    transition-property: background-color;
    transition-duration: 750ms;
    filter: drop-shadow(-10px 5px 0.2rem black);
}

.button:hover {
    background-color: rgb(7, 107, 7);
    color: white;
}

a:link {
    color: white;
}

a:visited {
    color: rgb(188, 170, 218)
}