* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    margin: 0;
}

body {
    background: linear-gradient(0deg, #141E30, #bdd6f3);
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    margin: auto;
    text-align: center;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: rgb(13, 60, 104);
    font-family: Raleway;
    margin: 10px;
}

h2 {
    color: rgb(13, 60, 104);
    font-family: Raleway;
}

p {
    color: rgb(13, 60, 104);
    font-family: Raleway;
    font-size: 18px;
    line-height: 1.5;
}

p a:link {
    color: blue;
}

p a:visited {
    color: rgb(61, 5, 151)
}

video {
    margin: 1px;
}


/* iphones */

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
    .light {
        color: lightblue
    }
}

iframe {
    margin: 20px;
}

a:link {
    color: white;
}

a:visited {
    color: rgb(188, 170, 218)
}