body {
    background: linear-gradient(0deg, #8ea4cc, #bdd6f3);
    background-attachment: fixed;
    margin: 0;
}

h1 {
    color: rgb(13, 60, 104);
    font-family: Raleway;
    margin: 0;
    padding: 0;
}

h2 {
    color: rgb(13, 60, 104);
    font-family: Raleway;
}

p {
    color: rgb(13, 60, 104);
    font-family: Raleway;
    font-size: 18px;
    line-height: 1.5;
}

p a:link {
    color: blue;
    text-decoration: underline;
}

p a:visited {
    color: rgb(61, 5, 151)
}

ul {
    text-align: center;
    list-style-position: inside;
    display: inline-block;
    margin: 15px;
}

li {
    color: rgb(13, 60, 104);
    font-family: Raleway;
    font-size: 18px;
}

.button {
    background-color: rgb(178, 231, 33);
    border: black;
    color: black;
    padding: 15px 32px;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    cursor: pointer;
    margin: 4px 10px;
    border-color: white;
    border-radius: 3px;
    transition-property: background-color;
    transition-duration: 750ms;
    filter: drop-shadow(-10px 5px .2rem black);
    grid-column: 2 / span 1;
}

.button:hover {
    background-color: grey;
    color: white;
}

hr {
    margin-top: 40px;
}