html {
    background-color: black;
}

body {
    display: inline;
}

.carousel-inner {
    background-color: black;
    margin: auto;
    height: auto;
}

img {
    max-width: 100%;
    max-height: 50vh;
    margin: auto;
    height: auto;
    display: inline;
}

@media only screen and (min-width: 768px) {
    img {
        max-width: 1000px;
        max-height: 100vh;
        margin: auto;
        height: auto;
    }
}