[submodule "projects/clean-links"]
	path = projects/clean-links
	url = https://github.com/qcoyle/clean-links.git
[submodule "projects/airplane-history"]
	path = projects/airplane-history
	url = https://github.com/qcoyle/airplane-history.git
[submodule "projects/see-your-plane"]
	path = projects/see-your-plane
	url = https://github.com/qcoyle/see-your-plane.git
[submodule "projects/books"]
	path = projects/books
	url = https://github.com/qcoyle/books.git
[submodule "projects/reading-list"]
	path = projects/reading-list
	url = https://github.com/qcoyle/reading-list.git
