* {
    margin: 0;
    padding: 0;
}

html {
    justify-content: center;
    margin: auto;
}

body {
    background: linear-gradient(0deg, #141E30, #bdd6f3);
    background-attachment: fixed;
    padding: 0;
    margin: auto;
    text-align: center;
    height: 100%;
    width: auto;
    display: grid;
    height: 50%;
}

body img {
    max-width: 50%;
    max-height: 100vh;
    margin: auto;
    height: auto;
}

h1 {
    color: rgb(13, 60, 104);
    font-family: Raleway;
}

.row {
    justify-content: center;
}

[class*="col-"] {
    margin: 0;
    padding: 0;
}

.button {
    background-color: rgb(255, 255, 255);
    border: black;
    color: black;
    padding: 15px 25px;
    text-decoration: none;
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    cursor: pointer;
    margin: 4px 10px;
    border-radius: 3px;
    display: inline;
    transition-property: background-color;
    transition-duration: 750ms;
    filter: drop-shadow(-10px 5px .2rem black);
}

.button1:hover {
    background-color: rgb(187, 0, 0);
    color: black;
}

.button2:hover {
    background-color: rgb(165, 10, 165);
    color: white;
}

.button3:hover {
    background-color: green;
    color: white;
}

.button4:hover {
    background-color: darkgoldenrod;
}

a {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
}

a:link {
    color: lightblue;
}

a:visited {
    color: rgb(188, 170, 218)
}

abbr {
    text-decoration: underline;
}

hr {
    background-color: white;
}