* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    background: linear-gradient(0deg, #141E30, #bdd6f3);
    padding: 0;
    margin: 0;
    text-align: center;
    height: 100%;
    width: auto;
    min-width: 500px;
    overflow: hidden;
}

body img {
    max-width: 600px;
    min-height: 300px;
    height: auto;
}

h1 {
    color: rgba(13, 60, 104, 0.836);
    font-family: Raleway;
}

.button {
    background-color: rgb(255, 255, 255);
    border: black;
    color: black;
    padding: 15px 32px;
    text-decoration: none;
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    cursor: pointer;
    margin: 4px 10px;
    border-radius: 3px;
    display: inline;
    transition-property: background-color;
    transition-duration: 750ms;
    filter: drop-shadow(-10px 5px 0.2rem black);
}

.button1:hover {
    background-color: rgb(187, 0, 0);
    color: black;
}

.button2:hover {
    background-color: purple;
    color: white;
}

.button3:hover {
    background-color: green;
    color: white;
}

a {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a:link {
    color: white;
}

a:visited {
    color: rgb(188, 170, 218)
}